/* cheks.css */

/* Add styles for the table container */

  .center{
    display: grid;
    margin-top: 20px;
    text-align: center;

  }
  
  /* Style the table headers */
  th {
    background-color: #3498db;
    color: #ffffff;
    padding: 10px;
    border: 1px solid #333333;
    padding: '8px';
  }
  
  /* Style alternating rows for better readability */
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  /* Style table cells */
  td {
    padding: 10px;
      border: 1px solid #333333;
    padding: 8px;
  }
  
  /* Hover effect on table rows */
  tr:hover {
    background-color: #bdeffc;
  }
  